@model List<webbmvcapp.Models.Identity.CustomIdentityUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ProductSection">
    <div class="container">
        <h1 class="collection-title">All Users</h1>
        <hr />
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Role Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                            <td>
                                @item.RoleName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>